@charset "utf-8"; /* CSS Document */  
#header_input { padding: 5px; float: left; height: 23px; width: 240px; line-height:23px; }
#seach{ padding:0px; margin:0px;  width:100%; height:100%; float:left; border:0px;	}
#seach:hover{ padding:0px; margin:0px;  width:230px; height:19px; float:left; border:2px solid #7ecbfe;	}
#header1_800_40 a{ color:#666;}
#header1_800_40 a:hover{ color:#ff5050;}

.header_none_left a{ color:#FFF;}

/*-------------------------------------------------------ulli样式表---------------------------------------------*/

/*第一层样式列表*/
#header_1 { background-color: #FFF; height: 145px; width: 1020px; position: relative; }
.header1_left_200_155 { float: left; height: 145px; width: 200px; margin-left: 10px; }
.header1_right_800_155 { float: left; height: 145px; width: 800px; }
#header1_800_40 { height: 40px; width: 800px; line-height:40px; }
.header1_400_105 { float: left; height: 105px; width: 400px; }

#header1_340_33 { height: 33px; width: 340px; margin-top: 30px; margin-right: 30px; margin-bottom: 0px; margin-left: 30px; border: 2px solid #a78e7c; }
#header1_340_35 { height: 35px; width: 340px; margin-top: 3px; margin-right: 30px; margin-left: 30px; text-align:left; }
.top_font { line-height:30px; height:30px; margin-left:10px;  margin-right:10px; margin-top:5px; margin-bottom:5px; float: right; color:#666666;}
.top_font_end {  margin-left:10px;  margin-top:5px; margin-bottom:5px; line-height:30px; height:30px; margin-right:30px; float: right; color:#666;}

/*第二层*/
#header_2 { position:relative;  z-index: 1;     background-color: #FF5050; height: 50px; width: 100%; }
#index_menu { height:50px; width: 1020px; background-color: #FF5050;}
#menu_left {color: #FFF; background-color:#000;  float: left; height: 50px; width: 200px; margin-left: 10px;  line-height: 50px;} 
#menu_right { line-height: 50px; color: #FFF; background-color: #FF5050;  float: right; height: 50px; width: 808px; text-align: center; z-index: 1; } 

.header_none_right_top { margin: 20px; height: 180px; width: 140px; }
.header_none_right_bottom { text-align:left; padding:0px; font-size:12px; color:#FFF; line-height:23px; height:90px; width: 140px; margin-top: 10px; margin-right: 20px; margin-bottom: 10px; margin-left: 20px; }
#header_right_2 {  height: 380px; width: 800px; margin-right: 10px; } 
.header2_left_30_90 { float: left; height: 90px; width: 30px; }
.header2_left_170_90 { float: left; height: 90px; width: 170px; }
.header2_left_170_40 { text-align:left; height: 40px; width: 170px; line-height:40px; }
.header2_left_170_40_2 { margin-left:30px; text-align:left; height: 40px; width: 170px; line-height:40px; }


.header2_left_170_20 { float: left; height: 22px; width: 170px; } 
.header2_font_h40 { float: left; height: 40px; margin-right: 15px; }
.header2_font_h20 { line-height:20px; float:left; height: 20px; margin-right: 15px; }
.header2_font_h20_end { line-height:20px; float:left; height: 20px;  }
 
.header2_left_none_h45 { text-align:left; height:25px; width: 400px;padding-bottom:10px;margin-left:20px ; margin-right:20px; padding-top:10px; border-bottom:#b38583 1px dashed ;  }

.header2_left_none_h45_2 { margin-top:6px;text-align:left; height:40px; width: 400px;padding-bottom:10px; margin-left:20px ; margin-right:20px; padding-top:10px; border-bottom:#b38583 1px dashed ;  }


.header2_left_none_font_b { line-height:20px;  width: 65px; float:left;}

.header_left_none_325_45{float: left; line-height:20px;  width: 335px; }

.header2_left_none_font { line-height:20px; float:left;   margin-left:15px;	width:auto; }

.remenpinpai { margin-left:15px; margin-top: 10px; margin-bottom: 10px; margin-right:15px; }
.header2_left_100-25 { float: left; height: 25px; width: 100px; margin-bottom: 5px; }
.header2_left_200_25 { height: 25px; width: 200px; margin-right: 15px; margin-left: 15px; }

.header_left_div { color:#33261c; line-height:90px; height:90px; width: 200px; margin-bottom:1px;position:relative; z-index:10; }
.header_left_div:hover { line-height:90px; height:90px; width: 200px; margin-bottom:1px; position:relative; z-index:10; }
#header_left_1_1 {color:#33261c; background-color: #C6B5AA;    height: 485px; width: 675px; position:relative; z-index:10; }
#header_left_1_2 {color:#33261c; background-color:#C6B5AA;    height: 510px; width: 675px;  position:relative; z-index:10;}
#header_left_1_3 {color:#33261c; background-color: #C6B5AA;    height: 440px; width: 675px; position:relative; z-index:10; }
#header_left_1_4 {color:#33261c; background-color: #C6B5AA; height: 370px; width: 675px; position:relative; z-index:10; }
#header_left_1_5 {color:#33261c; background-color: #C6B5AA;    height: 270px; width: 675px; position:relative; z-index:10; }
#header_left_1_6 {color:#33261c; background-color: #C6B5AA;    height: 290px; width: 675px; position:relative; z-index:10; }
#header_left_7 {color:#33261c; background-color: #c6b5aa;	  height: 40px; width: 200px; }


/*第三层*/
#header_3 { background-color: #C6B5AA; height: 30px; width: 100%; }
#header_3_2{ float:right; background-color: #C6B5AA; height: 30px; width: 800px; line-height: 30px; margin-right: 10px; }
#header_menu { height: 30px; width: 1020px; position: relative; background-color: #C6B5AA; }
#header_block_left { height: 582px; width: 200px; position:absolute; z-index:10; }
#menu_none_block{      width: 200px; position:static; z-index:5;	 }

#zhg_display { background-color:#fff; border-bottom:1px solid #ff5050; border-left:1px solid #ff5050; border-right:1px solid #ff5050; margin-left:-27px; height:auto; width: 120px; }


.header_left_none_455 { float: left; height: 100%; width: 445px; }
.header_left_none_230 { text-align:left; margin:0px; padding:0px; line-height:25px; background-color: #d6c9c2; float: right; height: 100%; width: 230px; }
.header_left_none_200_120 { margin: 15px; height: 120px; width: 200px; }
.header_left_none_200_70 { background-color: #3FF; height: 70px; width: 200px; }


#display_block-1 { position:absolute; height: 330px; width: 800px; background-color:#669933; z-index: 10; left: 210px; top: 30px;} 
#display_block-2 { position:absolute; height: 330px; width: 800px; background-color:#4F9EC1; z-index: 10; left: 210px; top: 30px;}
#display_block-3 { position:absolute; height: 330px; width: 800px; background-color:#4F9EC1; z-index: 10; left: 210px; top: 30px;}
#display_block-4 { position:absolute; height: 330px; width: 800px; background-color:#EE7A8B; z-index: 10; left: 210px; top: 30px;}
#display_block-5 { position:absolute; height: 330px; width: 800px; background-color:#9B85BC; z-index: 10; left: 210px; top: 30px;}
#display_block-6 { position:absolute; height: 330px; width: 800px; background-color:#E06B62; z-index: 10; left: 210px; top: 30px;} 
#display_block-7 { position:absolute; height: 330px; width: 800px; background-color:#7E6E61; z-index: 10; left: 210px; top: 30px;}
#display_block-8 { position:absolute; height: 330px; width: 800px; background-color:#4265A5; z-index: 10; left: 210px; top: 30px;}
.header_none_left { float:left;	 height: 330px; width: 620px;}
.header_none_right1 { background-color:#74a83b; float:right; height: 330px; width: 180px; }
.header_none_right2 { background-color:#5fafce; float:right; height: 330px; width: 180px; }
.header_none_right3 { background-color:#5fafce; float:right; height: 330px; width: 180px; }
.header_none_right4 { background-color:#f18899; float:right; height: 330px; width: 180px; }
.header_none_right5 { background-color:#a48fc3; float:right; height: 330px; width: 180px; }
.header_none_right6 { background-color:#e88076; float:right; height: 330px; width: 180px; }
.header_none_right7 { background-color:#928173; float:right; height: 330px; width: 180px; }
.header_none_right8 { background-color:#4c73b3; float:right; height: 330px; width: 180px; }

.header3_right_580_290 { text-align:left; margin: 20px; height: 290px; width: 580px; }
.header3_right_none_580_23 { line-height:23px; height: 23px; width: 580px; }
.header3_right_none_200_30_bottom1 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #74A83B; height: 30px; width:210px; color:#FFF; }
.header3_right_none_200_30_bottom2 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #5FAFCE; height: 30px; width: 245px;; color:#FFF; }
.header3_right_none_200_30_bottom3 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #5FAFCE; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_200_30_bottom4 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #F18899; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_200_30_bottom5 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #A48FC3; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_200_30_bottom6 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #E88076; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_200_30_bottom7 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #928173; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_200_30_bottom8 { text-align:center; line-height:30px; margin-top:5px; font-size: 16px; background-color: #4C73B3; height: 30px; width: 245px; color:#FFF; }
.header3_right_none_23_90 { line-height:23px; float: left; height: 23px; width: 90px; margin-right: 5px; }
.header3_right_none_23_200 { line-height:23px; float: left; height: 23px; width: 200px; }