@charset "utf-8"; /* CSS Document */  
/*中间部分的div*/ 
#main_body { min-width:1022px; background-color:#F2F2F2; width: 100%; padding-bottom:40px; }
#page_1 {	 background-color:#FFF; border:#E3DAD5 1px solid;	 padding-left:10px; padding-right: 10px; height: 600px; width: 1000px; position: relative; }
#page_1_left { float: left; height: 556px; width: 200px; }
#page_1_right {	  float: right; height: 556px; width: 800px; }
#page_1_bottom { float:left; height: 40px; width: 1000px; }
#page_1_right_1 { background-color: #F2F2F2; height: 375px; width: 800px; } 
#page_1_right_2 { height: 170px; width: 800px; margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.page_1_right_tab { position:relative; height: 170px; width: 266px; float:left; }
#page_2 { background-color:#FFF; margin-top:20px; border:#E3DAD5 1px solid; padding: 10px; height: 90px; width: 1000px; cursor: crosshair; }
#page_3 { background-color:#FFF; margin-top:20px; border:#E3DAD5 1px solid; padding: 10px; height: 370px; width: 1000px; }
#page_4 { background-color:#FFF; border:#E3DAD5 1px solid; height: 250px; width: 1020px; margin-top: 20px; }
#page_5 { background-color:#FFF; padding: 10px; border:#E3DAD5 1px solid; height: 610px; width: 1000px; margin-top: 20px; }
#page_6 {position: relative; background-color:#FFF; padding: 10px; border:#E3DAD5 1px solid; height: 475px; width: 1000px; margin-top: 20px; }
#page_7 { background-color:#FFF; padding: 10px; border:#E3DAD5 1px solid; height: 575px; width: 1000px; margin-top: 20px; }
#page_8 { background-color:#FFF; padding: 10px; border:#E3DAD5 1px solid; height: 575px; width: 1000px; margin-top: 20px; }
#floor {  height: 450px; width: 1000px; padding-top: 40px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; }

.page_top_style {  line-height:39px;  height: 39px; width: 1000px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #930; }
.page_top_right {width:500px;float: left;height: 39px;padding:0px;margin:0px;}


#page_3_body { height: 320px; width: 1000px; margin-top: 10px; }

#zhg_display { background-color:#FFF; margin-left:-17px; padding-bottom:10px; padding-top:10px; height: 100px; width: 100px;	 border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #FF5050; border-bottom-color: #FF5050; border-left-color: #FF5050; }
.page_3_body_1 { position:relative; float: left; height: 320px; width: 200px; }
.page_3_body_2 { position:relative; float: left; height: 160px; width: 200px; }
#page_3_400_320 {  float: left; height: 320px; width: 400px; }
#page_3_400_160 { position:relative; float: left; height: 160px; width: 400px; }
#page5_790_560 { float:left; height: 560px; width: 790px; margin-top:10px; margin-right:9px; }
#page5_200_570 { float: left; height: 570px; width: 200px; border-left-width: 1px; border-left-style: solid; border-left-color: #b29380; }
#page5_790_275_1 { height: 275px; width: 790px; }
#page5_790_275_2 { height: 275px; width: 790px; margin-top: 8px; }
.page5_190_275_1 { border:#f2f2f3 1px solid; height: 275px; width: 190px; float: left; }
.page5_190_275_2 { border:#f2f2f3 1px solid; float: left; height: 275px; width: 190px; margin-left: 7px; }
.page5_190_570 { height: 570px; width: 190px; margin-left: 10px; padding: 0px; text-align: left; }
.page6_800_420 { float: left; height: 420px; width: 800px; margin-top: 10px; margin-right: 10px; }
.page6_right_190_420 {	float: left;height: 435px;width: 190px;}
.page6_260_420 { float: left; height: 420px; width: 260px; }
.page6_540_420 { float: left; height: 420px; width: 540px; }
.page6_180_210 { float: left; height: 210px; width: 180px; }

.page7_left_800_520 {  float: left; height: 520px; width: 790px; margin-top: 10px; margin-right: 9px; }
.page7_right_190_520 {float:left;height: 530px;width: 200px;border-left-width: 1px;border-left-style: solid;border-left-color: #b29380;}
.page7_190_520 {height: 520px;width: 190px;margin-left: 10px;text-align: left;}
.page7_260_520 { float:left; height: 520px; width: 260px; }
.page7_170_255 { float:left; height: 255px; width: 170px; }
.page7_260_410 { height: 410px; width: 260px; }


.page7_260_110 { height: 110px; width: 260px; }
.page7_110_45 { float: left; height: 45px; width: 110px; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px; }
#page8_1000_520 { height: 520px; width: 1000px; margin-top: 10px; }
#page8_260_520 { float: left; height: 520px; width: 260px; }
#page8_260_410 { position:relative; background-color: #FF0; height: 410px; width: 260px; }
#page8_260_110 { height: 109px; width: 258px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #E3DAD5; border-bottom-color: #E3DAD5; border-left-color: #E3DAD5; }
.page8_55_50 { margin-bottom:2px; margin-top:3px; margin-left:5px; margin-right:5px; background-color: #fff; float: left; height: 50px; width: 55px; }
.page8_55_50_1{ margin-bottom:2px; margin-top:3px; margin-left:4px; margin-right:4px; background-color: #fff; float: left; height: 50px; width: 55px; }
.page8_55_50:hover{ background-color:#ebebeb; text-align:center; line-height:50px; margin-bottom:2px; margin-top:3px; margin-left:5px; margin-right:5px; float: left; height: 50px; width: 55px; }
.page8_55_50_1:hover{ background-color:#ebebeb; text-align:center; line-height:50px; margin-bottom:2px; margin-top:3px; margin-left:4px; margin-right:4px; float: left; height: 50px; width: 55px; }
#page8_740_520 { background-color: #003; float: left; height: 520px; width: 740px; }
.page8_185_260 { position:relative; background-color: #90F; float: left; height: 260px; width: 185px; }
.page8_185_130 { position:relative; background-color: #C00; float: left; height: 130px; width: 185px; }

/*右边广告*/
.page_left_div_content{ width:190px;  margin:0px; padding:0px; }
.default_close ul{ padding:0px; margin:0px;display:none; }
.default_close{  padding:0px; margin:0px;text-align:left;padding-left:30px;line-height:35px; width:160px; height:35px;  border-bottom:1px solid #efefef;}
.default_open{ padding:0px; margin:0px;line-height:35px; width:190px; height:225px;border-bottom:1px solid #efefef;  }

.page_content_div_font{ margin:0px; width:190px;  margin-top:-35px; }
.page_title_div_font { text-align:center;height: 30px;width: 190px; line-height:30px;}

.page_content_div_font_left_30_225 { padding:0px; margin:0px; position:relative; background-color:#FFF;  float: left; height: 225px; width: 30px; }
.page_content_div_font_right_160_225 {padding:0px; margin:0px; position:relative; float:right; height: 225px; width: 160px; }
.page_img_right_160_160 {padding:0px; margin:0px; background-color:#FFF;  height: 160px; width: 160px; }
.page_font_bottom_160_225 { padding:0px; margin:0px;background-color:#FFF;  padding-top:20px; height: 45px; width: 160px; line-height:20px; }
.page_img_190_80 {	background-color: #ff5050;	margin-top:3px;	height: 80px;	width: 190px;}
.page_img_190_120 {	height: 120px;	width: 190px;	margin-top: 5px;}


.page_img_160_160 { position:relative; height: 160px; width: 160px; margin-top: 5px; margin-right: 15px; margin-left:15px; }
.page_font_bottom_60_170 { text-align:left; padding-top:10px; padding-left:10px; padding-right:10px; background-color: #efefef; height: 60px; width: 170px; }
.page7_img_160 { background-color: #00C; margin-top:5px; margin-left:3px; margin-right:3px; height: 160px; width: 160px;
}
.page7_price_30_170 { height: 30px; width: 170px; text-align:center; font-weight:bold; font-size:16px; color:#723a17; }
.page7_font_55_170{ color:#999; width:160px; padding:4px; height:45px; text-align:center;}
